.cookie-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: none;
}

@media screen and (max-width: 800px) {
  .inner-cookie-wrap {
    position: fixed;
    top: 60vh;
    background-color: none;
    width: 100vw;
  }

  .cookie-dialog div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border-color: #000000;
    width: 80vw;
    position: -webkit-sticky;
    position: sticky;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }

  .cookie-text #text {
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-content: center;
    margin: 3px;
    color: #ffffff;
  }

  .accept-button,
.decline-button {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.5rem;
  }

  .decline-button {
    background-color: #ffdc18;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .accept-button {
    display: block;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(45deg, #f17c58, #e94584, #24aadb, #27dbb1, #ffdc18, #ff3706);
    background-size: 600% 100%;
    -webkit-animation: gradient 16s linear infinite;
            animation: gradient 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    overflow-x: hidden;
  }
  @-webkit-keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }
}
@media screen and (min-width: 800px) {
  .cookie-dialog {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    top: 70vh;
    margin: 4rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-color: #000000;
    position: absolute;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }

  .cookie-text {
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    justify-content: center;
  }

  .accept-button {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
  }

  .decline-button {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .inner-cookie-wrap {
    position: fixed;
    top: 60vh;
    background-color: none;
    width: 100vw;
  }

  .cookie-dialog {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    border-color: #000000;
    width: 80vw;
    position: -webkit-sticky;
    position: sticky;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }

  .cookie-dialog :nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .cookie-text {
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-content: center;
    margin: 3px;
  }

  .accept-button,
.decline-button {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.5rem;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
  }

  .decline-button {
    background-color: #ffdc18;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .accept-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #e94584;
  }

  .accept-button ::after {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 0px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 0px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 0px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 0px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 0px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 0px 15px #e94584;
    }
    100% {
      box-shadow: 0px 0px 15px #ff3706;
    }
  }
}