.page_title {
    background-color: #14B7B7; 
    width: 100%;
  }
  
  .page_title h1 {
    width: auto;
    height: auto;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Staatliches';
    font-size: 4rem;
    text-align: center;
  }
  
  .title_wrapper {
    margin: 0;
    padding: 0;
  }