@import "../../../Variables/Sass/SassVariables.scss";

@media screen and (max-width: 500px) {
  .tooltip button {
    background-color: black;
    color: $whiteColor;
    padding: 0.75rem;
    border-radius: 10px;
  }

  .editor-button {
    font-size: 0.75rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    @include rainbow-shadow(5px, 5px, 15px);
    background-color: $pinkColor;
  }

  .submit-button {
    margin-top: 1rem;
    border-radius: 15px;
    font-family: $bodyFont;
    font-size: 1.5rem;
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 1rem;
  }

  .post-wrapper {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }

  .editor {
    @include textInputStyle(1rem);
    font-family: $bodyFont;
    text-align: left;
    margin-top: 0.5rem;
  }

  .title,
  .subtitle,
  .editor {
    background-color: $grayColor;
    color: $whiteColor;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .title {
    @include textInputStyle(1rem);
    font-family: $subtitleFont2;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: $subtitleFont;
    @include textInputStyle(1rem);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: $blackColor;
    color: $pinkColor;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

}

@media screen and (min-width: 500px) {
  .tooltip button {
    background-color: black;
    color: $whiteColor;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .editor-button {
    font-size: 2rem;
    margin: 0.25rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    @include rainbow-shadow(5px, 5px, 15px);
    background-color: $pinkColor;
  }

  .submit-button {
    margin-top: 1rem;
    border-radius: 15px;
    font-family: $bodyFont;
    font-size: 1.5rem;
    width: 100%;
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 1rem;
  }

  .post-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: column;
  }

  .editor {
    @include textInputStyle(1.5rem);
    font-family: $bodyFont;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
  .subtitle,
  .editor {
    background-color: $grayColor;
    color: $whiteColor;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    @include textInputStyle(3rem);
    font-family: $subtitleFont2;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: $subtitleFont;
    margin-bottom: 3rem;
    @include textInputStyle(2rem);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: $blackColor;
    color: $pinkColor;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}

@media screen and (min-width: 950px) {


  .editor-button-wrap > * {
    background-color: black;
    color: $whiteColor;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    @include rainbow-shadow(5px, 5px, 15px);
    background-color: $pinkColor;
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: $bodyFont;
    font-size: 1.5rem;
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 1rem;
    width: 100%;
  }

  .post-wrapper {
    padding: 4rem;
    margin: 3rem;
  }

  .editor {
    @include textInputStyle(1.5rem);
    font-family: $bodyFont;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
  .subtitle,
  .editor {
    background-color: $grayColor;
    color: $whiteColor;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    @include textInputStyle(3rem);
    font-family: $subtitleFont2;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: $subtitleFont;
    margin-bottom: 3rem;
    @include textInputStyle(2rem);
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-size: 2rem;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: $blackColor;
    color: $pinkColor;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}

@media screen and (min-width: 1200px) {
  .editor-button-wrap > * {
    background-color: black;
    color: $whiteColor;
    padding: 1rem;
    border-radius: 10px;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    @include rainbow-shadow(5px, 5px, 15px);
    background-color: $pinkColor;
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: $bodyFont;
    font-size: 1.5rem;
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 1rem;
    width: 100%;
  }

  .post-wrapper {
    padding: 4rem;
    margin: 3rem;
  }

  .editor {
    @include textInputStyle(1.5rem);
    font-family: $bodyFont;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
  .subtitle,
  .editor {
    background-color: $grayColor;
    color: $whiteColor;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    @include textInputStyle(3rem);
    font-family: $subtitleFont2;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: $subtitleFont;
    margin-bottom: 3rem;
    @include textInputStyle(2rem);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: $blackColor;
    color: $pinkColor;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}

@media screen and (min-width: 1500px) {
  .editor-button-wrap > * {
    background-color: black;
    color: $whiteColor;
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .editor-button {
    font-size: 3rem;
    margin: 1rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .is-active {
    @include rainbow-shadow(5px, 5px, 15px);
    background-color: $pinkColor;
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: $bodyFont;
    font-size: 1.5rem;
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 1rem;
    width: 100%;
  }

  .post-wrapper {
    padding: 4rem;
    margin: 3rem;
  }

  .editor {
    @include textInputStyle(2rem);
    font-family: $bodyFont;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
  .subtitle,
  .editor {
    background-color: $grayColor;
    color: $whiteColor;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    @include textInputStyle(3rem);
    font-family: $subtitleFont2;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: $subtitleFont;
    margin-bottom: 3rem;
    @include textInputStyle(2rem);
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: $blackColor;
    color: $pinkColor;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
