@media screen and (max-width: 500px) {
  .post-overlay {
    color: #ffffff;
    border-radius: 20px;
    margin: 0.5rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 100;
    overflow-wrap: normal;
    word-break: normal;
    background-color: #000000;
  }

  .post-background {
    overflow-y: hidden;
    background-color: #000000;
    border-radius: 20px;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }

  .post-button {
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    bottom: 1rem;
    right: 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #000000;
    color: #e94584;
    font-size: 2rem;
    outline: none;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }
}
@media screen and (min-width: 501px) {
  .post-overlay {
    border-radius: 20px;
    top: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 100;
    max-height: 95vh;
    color: #ffffff;
    overflow-wrap: normal;
    word-break: normal;
    overflow: auto;
    padding: 1rem;
    margin: 1rem;
  }

  .post-background {
    overflow-y: hidden;
    background-color: #000000;
    border-radius: 20px;
    width: 20vw;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }

  .post-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #000000;
    color: #e94584;
    font-size: 2rem;
    outline: none;
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 0px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 0px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 0px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 0px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 0px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 0px 5px 15px #e94584;
    }
    100% {
      box-shadow: 0px 5px 15px #ff3706;
    }
  }
}