@import "../../../Variables/Sass/SassVariables.scss";

.editor-button-wrap >* {
    background-color: black;
    color: $whiteColor;
    padding: 0.5rem;
    border-radius: 10px;
}

.is-active {
    background-color: $pinkColor;
}

.submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: $bodyFont;
    font-size: 1.5rem;
    background-color: $pinkColor;
    color: $whiteColor;
    padding: 1rem;
    width: 80%;
}

.post-wrapper {
    padding: 2rem;
}

.editor {
    padding-right: 4rem;
    padding-left: 4rem;
}

.title {
    @include textInputStyle(2rem);
    font-family: $subtitleFont2;
    width: 100%;
    padding-left: 3rem;
}