@import "../../../Variables/Sass/SassVariables.scss";

@media screen and (max-width: 500px) {

  .post-overlay {
    color: $whiteColor;
    border-radius: 20px;
    margin: 0.5rem;
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 100;
    overflow-wrap: normal;
    word-break: normal;
    background-color: $blackColor;
  }

  .post-background {  
    overflow-y: hidden;
    background-color: $blackColor;
    border-radius: 20px;
    @include rainbow-shadow(0px, 5px, 15px);
  }
  .post-button {
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    bottom: -0.75rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: $blackColor;
    color: $pinkColor;
    font-size: 2rem;
    outline: none;
    @include rainbow-shadow(0px, 5px, 15px);
  }
}


@media screen and (min-width: 501px) {
  .post-overlay {
    border-radius: 20px;
    top: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 100;
    max-height: 95vh;
    color: $whiteColor;
    overflow-wrap: normal;
    word-break: normal;
    overflow: auto;
    padding: 1rem;
    margin: 1rem;
  }

  .post-background {  
    overflow-y: auto;
    background-color: $blackColor;
    border-radius: 20px;
    width: 40vw;
    @include rainbow-shadow(0px, 5px, 15px);
  }

  .post-button {
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    bottom: 1rem;
    right: 1rem;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: $blackColor;
    color: $pinkColor;
    font-size: 2rem;
    outline: none;
    @include rainbow-shadow(0px, 5px, 15px);
  }
}

