@media screen and (max-width: 500px) {
  .tooltip button {
    background-color: black;
    color: #ffffff;
    padding: 0.75rem;
    border-radius: 10px;
  }

  .editor-button {
    font-size: 0.75rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 1rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
  }

  .post-wrapper {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }

  .editor {
    font-size: 1rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    margin-top: 0.5rem;
  }

  .title,
.subtitle,
.editor {
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .title {
    font-size: 1rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: "Advent Pro", sans-serif;
    font-size: 1rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 500px) {
  .tooltip button {
    background-color: black;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .editor-button {
    font-size: 2rem;
    margin: 0.25rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 1rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
  }

  .post-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: column;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
.subtitle,
.editor {
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    font-size: 3rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: "Advent Pro", sans-serif;
    margin-bottom: 3rem;
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 950px) {
  .editor-button-wrap > * {
    background-color: black;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
  }

  .post-wrapper {
    padding: 4rem;
    margin: 3rem;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
.subtitle,
.editor {
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    font-size: 3rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: "Advent Pro", sans-serif;
    margin-bottom: 3rem;
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-size: 2rem;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 1200px) {
  .editor-button-wrap > * {
    background-color: black;
    color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
  }

  .post-wrapper {
    padding: 4rem;
    margin: 3rem;
  }

  .editor {
    font-size: 1.5rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
.subtitle,
.editor {
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    font-size: 3rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: "Advent Pro", sans-serif;
    margin-bottom: 3rem;
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}
@media screen and (min-width: 1500px) {
  .editor-button-wrap > * {
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .editor-button {
    font-size: 3rem;
    margin: 1rem;
  }

  .editor-button-wrap {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .is-active {
    -webkit-animation: shadow-fade 16s linear infinite;
            animation: shadow-fade 16s linear infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background-color: #e94584;
  }
  @-webkit-keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }
  @keyframes shadow-fade {
    0% {
      box-shadow: 5px 5px 15px #f17c58;
    }
    16% {
      box-shadow: 5px 5px 15px #ffdc18;
    }
    32% {
      box-shadow: 5px 5px 15px #27dbb1;
    }
    48% {
      box-shadow: 5px 5px 15px #24aadb;
    }
    64% {
      box-shadow: 5px 5px 15px #8335d0;
    }
    84% {
      box-shadow: 5px 5px 15px #e94584;
    }
    100% {
      box-shadow: 5px 5px 15px #ff3706;
    }
  }

  .submit-button {
    margin-top: 3rem;
    border-radius: 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    background-color: #e94584;
    color: #ffffff;
    padding: 1rem;
    width: 100%;
  }

  .post-wrapper {
    padding: 4rem;
    margin: 3rem;
  }

  .editor {
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Raleway", sans-serif;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .title,
.subtitle,
.editor {
    background-color: #262624;
    color: #ffffff;
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
  }

  .title {
    font-size: 3rem;
    align-self: center;
    border-radius: 20px;
    font-family: "Staatliches", cursive;
    font-size: 3rem;
    padding-bottom: 0.5rem;
  }

  .subtitle {
    font-family: "Advent Pro", sans-serif;
    margin-bottom: 3rem;
    font-size: 2rem;
    align-self: center;
    border-radius: 20px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #000000;
    color: #e94584;
    position: absolute;
    z-index: 2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 15px;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }
}