.page_subtitle h1 {
  width: auto;
  height: auto;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Staatliches";
  font-size: 4rem;
  text-align: center;
}

.page_subtitle h2 {
  font-family: "Advent Pro", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.subtitle_wrapper {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .page_subtitle h1 {
    width: auto;
    height: auto;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Staatliches";
    font-size: 2rem;
    text-align: center;
  }
}