@import "../../Variables/Sass/SassVariables.scss";

.aboutWrapper {
  color: $whiteColor;
}
.innerAboutWrapper {
    padding: 2rem;
}

.headline {
    font-family: $subtitleFont;
    font-size: 3rem;
}

.aboutBody {
  font-family: $bodyFont;
  font-size: 2rem;
}
