@import "../../Variables/Sass/SassVariables.scss";

.homeWrapper {
  color: $whiteColor;
  overflow: hidden;
  list-style-type: square;
}
.intro {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;
}

/* For extremely small screen devices (670px and below) */
@media only screen and (max-width: 300px) {
  #hiRoz {
    font-family: $titleFont;
    font-size: 5rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  #drop {
    font-size: 3rem;
    font-family: $titleFont;
  }

  .subtitle {
    font-family: $bodyFont;
    font-size: 2.5rem;
  }

  #netrunner,
  #apollo {
    height: 30rem;
    width: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #apollo {
    margin-bottom: 2rem;
  }

  .introSpan > * {
    text-align: center;
  }

  .hobbies {
    font-family: $subtitleFont;
    font-size: 2rem;
    font-weight: 100;
  }

  // Stack List Card
  .stackWrap {
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .stack {
    display: inline-flex;
    font-size: 4rem;
    font-family: $titleFont;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 552ms infinite;
  }

  .stack span {
    position: absolute;
    z-index: -1;
  }

  .stack span:first-child {
    animation: glitch 731ms infinite;
  }

  .stack span:last-child {
    animation: glitch 373s infinite;
  }
  .stackList {
    align-content: space-between;
    font-size: 1.5rem;
    padding-right: 1em;
    font-family: $subtitleFont;
  }

  .sl:hover {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 450ms infinite;
  }

  //Goals Card

  .goals h1 {
    font-family: $titleFont;
    font-size: 3rem;
    text-align: center;
  }

  .goals h3 {
    font-family: $subtitleFont;
    font-size: 2rem;
  }

  .goals ul {
    list-style-type: square;
    font-family: $bodyFont;
  }
  .goals p {
    font-family: $subtitleFont;
    font-size: 1.5rem;
  }
}

/* For extremely small screen devices (670px and below) */
@media only screen and (max-width: 670px) {
  #hiRoz {
    font-family: $titleFont;
    font-size: 5rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  #drop {
    font-size: 3rem;
    font-family: $titleFont;
  }

  .subtitle {
    font-family: $bodyFont;
    font-size: 2.5rem;
  }

  #netrunner,
  #apollo {
    height: 30rem;
    width: auto;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #apollo {
    margin-bottom: 2rem;
  }

  .introSpan > * {
    text-align: center;
  }

  .hobbies {
    font-family: $subtitleFont;
    font-size: 2rem;
    font-weight: 100;
  }

  // Stack List Card
  .stackWrap {
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .stack {
    display: inline-flex;
    font-size: 4rem;
    font-family: $titleFont;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 552ms infinite;
  }

  .stack span {
    position: absolute;
    z-index: -1;
  }

  .stack span:first-child {
    animation: glitch 731ms infinite;
  }

  .stack span:last-child {
    animation: glitch 373s infinite;
  }
  .stackList {
    align-content: space-between;
    font-size: 1.5rem;
    padding-right: 1em;
    font-family: $subtitleFont;
  }

  .sl:hover {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 450ms infinite;
  }

  //Goals Card

  .goals h1 {
    font-family: $titleFont;
    font-size: 3rem;
    text-align: center;
  }

  .goals h3 {
    font-family: $subtitleFont;
    font-size: 2rem;
  }

  .goals ul {
    list-style-type: square;
    font-family: $bodyFont;
  }
  .goals p {
    font-family: $subtitleFont;
    font-size: 1.5rem;
  }
}
/* Medium screen devices (671px and above) */
@media only screen and (min-width: 671px) {
  #hiRoz {
    font-family: $titleFont;
    font-size: 5rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  #drop {
    font-size: 3rem;
    font-family: $titleFont;
  }

  .subtitle {
    font-family: $bodyFont;
    font-size: 2.5rem;
  }

  #netrunner,
  #apollo {
    height: 30rem;
    width: auto;
    border-radius: 20px;
  }

  .introSpan {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
  }

  #topIntro {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: auto;
  }

  #hobbiesIntro {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: auto;
  }

  .introSpan > * {
    padding: 1rem;
  }

  .hobbies {
    font-family: $subtitleFont;
    font-size: 2rem;
    font-weight: 100;
  }

  // Stack List Card
  .stackWrap {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column: auto;
  }

  .stack {
    font-size: 8vw;
    padding-left: 1em;
    font-family: $titleFont;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 552ms infinite;
  }

  .stack span {
    position: absolute;
    z-index: -1;
  }

  .stack span:first-child {
    animation: glitch 731ms infinite;
  }

  .stack span:last-child {
    animation: glitch 373s infinite;
  }
  .stackList {
    align-content: space-between;
    font-size: 3.5vw;
    padding-right: 1em;
    font-family: $subtitleFont;
  }

  .sl:hover {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 450ms infinite;
  }

  //Goals Card

  .goals h1 {
    font-family: $titleFont;
    font-size: 3rem;
    text-align: center;
  }

  .goals h3 {
    font-family: $subtitleFont;
    font-size: 2rem;
  }

  .goals ul {
    list-style-type: square;
    font-family: $bodyFont;
  }
  .goals p {
    font-family: $subtitleFont;
    font-size: 1.5rem;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  #hiRoz {
    font-family: $titleFont;
    font-size: 5rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  #drop {
    font-size: 3rem;
    font-family: $titleFont;
  }

  .subtitle {
    font-family: $bodyFont;
    font-size: 2.5rem;
  }

  #netrunner,
  #apollo {
    height: 30rem;
    width: auto;
    border-radius: 20px;
  }

  .introSpan {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
  }

  #topIntro {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column: auto;
  }

  #hobbiesIntro {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column: auto;
  }

  .introSpan > * {
    padding: 1rem;
  }

  .hobbies {
    font-family: $subtitleFont;
    font-size: 2rem;
    font-weight: 100;
  }

  // Stack List Card
  .stackWrap {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column: auto;
  }

  .stack {
    font-size: 8vw;
    padding-left: 1em;
    font-family: $titleFont;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 552ms infinite;
  }

  .stack span {
    position: absolute;
    z-index: -1;
  }

  .stack span:first-child {
    animation: glitch 731ms infinite;
  }

  .stack span:last-child {
    animation: glitch 373s infinite;
  }
  .stackList {
    align-content: space-between;
    font-size: 3.5vw;
    padding-right: 1em;
    font-family: $subtitleFont;
  }

  .sl:hover {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 450ms infinite;
  }

  //Goals Card

  .goals h1 {
    font-family: $titleFont;
    font-size: 3rem;
    text-align: center;
  }

  .goals h3 {
    font-family: $subtitleFont;
    font-size: 2rem;
  }

  .goals ul {
    list-style-type: square;
    font-family: $bodyFont;
  }
  .goals p {
    font-family: $subtitleFont;
    font-size: 1.5rem;
  }
}

/* Huge screen devices (1086px and above) */
@media only screen and (min-width: 1086px) {
  #hiRoz {
    font-family: $titleFont;
    font-size: 6rem;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  #drop {
    font-size: 6rem;
    font-family: $titleFont;
  }

  .subtitle {
    font-family: $bodyFont;
    font-size: 3rem;
  }

  #netrunner,
  #apollo {
    height: 40rem;
    width: auto;
    border-radius: 20px;
  }

  .introSpan {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
  }

  #topIntro, #hobbiesIntro {
    display: flex;
  }


  .introSpan > * {
    margin: 3rem;
  }

  .hobbies {
    font-family: $subtitleFont;
    font-size: 2rem;
    font-weight: 100;
  }

  // Stack List Card
  .stackWrap {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column: auto;
  }

  .stack {
    font-size: 8vw;
    padding-left: 1em;
    font-family: $titleFont;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 552ms infinite;
  }

  .stack span {
    position: absolute;
    z-index: -1;
  }

  .stack span:first-child {
    animation: glitch 731ms infinite;
  }

  .stack span:last-child {
    animation: glitch 373s infinite;
  }
  .stackList {
    align-content: space-between;
    font-size: 3rem;
    padding-right: 1em;
    font-family: $subtitleFont;
  }

  .sl:hover {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 450ms infinite;
  }

  //Goals Card

  .goals h1 {
    font-family: $titleFont;
    font-size: 5rem;
    text-align: center;
  }

  .goals h3 {
    font-family: $subtitleFont;
    font-size: 4rem;
  }

  .goals ul {
    list-style-type: square;
    font-family: $bodyFont;
    font-size: 2rem;
  }
  .goals p {
    font-family: $subtitleFont;
    font-size: 3rem;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em 0.025em 0 rgba(255, 0, 0, 0.75),
      0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em 0.025em 0 rgba(255, 0, 0, 0.75),
      0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      -0.05em 0.025em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

// in case user does not want to see animations for some reason
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

// /* For extremely small screen devices (595px and below) */
// @media only screen and (max-width: 595px) {...}

// /* Small screen devices (600px and above) */
// @media only screen and (min-width: 600px) {...}

// /* Medium screen devices (768px and above) */
// @media only screen and (min-width: 768px) {...}

// /* Big screen devices (889px and above) */
// @media only screen and (min-width: 889px) {...}

// /* Extra big screen devices (1200px and above) */
// @media only screen and (min-width: 1200px) {...}
