@import "../../Variables/Sass/SassVariables.scss";

.home-wrapper {
  color: $whiteColor;
  overflow: hidden;
  list-style-type: square;
  overflow-x: hidden;
  height: 100%;
}

.inner-home-wrapper {
  padding: 2rem;
}

.tagline {
  font-family: $bodyFont;
  font-size: 2rem;
  text-align: center;
}

.headline {
  padding: 2rem;
  text-align: center;
}

.home-wrapper a {
  text-decoration: none;
  color: inherit;
}