.navbar {
  width: 100vw;
  margin: 0;
  height: 80px;
}

.navbar a {
  color: #ffffff;
  font-family: "Advent Pro", sans-serif;
}

.titleText {
  width: 100% vh;
  position: relative;
  margin: 0;
  font-size: 4rem;
  color: #f1e91c;
  font-family: "Audiowide", cursive;
  text-align: center;
}

.banner {
  position: absolute;
  margin: 0;
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.overlay {
  width: inherit;
  background-color: #000000;
  opacity: 100%;
}