@import "../../Variables/Sass/SassVariables.scss";

.navbar {
  width: 100vw;
  margin: 0;
}

.headerWrapper {
  background-image: url("../../data/photos/dragons-song-colorful-banner.jpg");
}

.titleText {
  width: 100%vh;
  position: relative;
  margin: 0;
  font-size: 4rem;
  color: $yeallowColor;
  font-family: $titleFont;
  text-align: center;
}

.linkWrapper {
  background-color: $blackColor;
}

.navbarLinks {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  align-content: center;
  justify-content: space-between;
}

.navbarLinks > * {
  font-family: $subtitleFont;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px black;
  size: 2.5rem;
  text-align: center;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.linkWrapper a:hover {
  text-decoration: none;
  color: $yeallowColor;
  text-shadow: 2px 2px 5px $yeallowColor;
}
