@import "../../../Variables/Sass/SassVariables.scss";

.invisibleText {
  opacity: 0;
  max-width: 80vw;
  align-self: center;
  justify-self: center;
  overflow-x: hidden;
}


.rainbowLine {
  @include rainbow(80vw, 5px)
}
