@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Audiowide&family=Comfortaa&family=Raleway:wght@200&family=Staatliches&display=swap");
.pad1 {
  padding: 1rem;
}

.pad2 {
  padding: 2rem;
}

.pad3 {
  padding: 3rem;
}

.pad4 {
  padding: 4rem;
}

.pad5 {
  padding: 5rem;
}

.marg1 {
  margin: 1rem;
}

.marg2 {
  margin: 2rem;
}

.marg3 {
  margin: 3rem;
}

.marg4 {
  margin: 4rem;
}

.marg5 {
  margin: 5rem;
}

.linkNoUnderline a:link {
  text-decoration: none;
  color: #fa64d6;
}

.linkNoUnderline a:hover {
  color: #f1e91c;
}

.linkNoUnderline a:visited {
  color: #8335d0;
}

.plainLink {
  text-decoration: none;
  color: inherit;
}

.shadow-box {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-box:hover {
  transform: scale(0.95, 0.95);
}

.shadow-box:hover::after {
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}