@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Audiowide&family=Comfortaa&family=Raleway:wght@200&family=Staatliches&display=swap");
@import "./Variables/Sass/SassVariables.scss";
//TODO - put the generated css into a file just for it so that you stop clicking on the wrong thing.
//Overall margin and padding classes to use like bootstrap does
//Paddings
.pad1 {
  padding: 1rem;
}

.pad2 {
  padding: 2rem;
}

.pad3 {
  padding: 3rem;
}

.pad4 {
  padding: 4rem;
}

.pad5 {
  padding: 5rem;
}

//Margins
.marg1 {
  margin: 1rem;
}

.marg2 {
  margin: 2rem;
}

.marg3 {
  margin: 3rem;
}

.marg4 {
  margin: 4rem;
}

.marg5 {
  margin: 5rem;
}

//Link settings
.linkNoUnderline a:link {
  text-decoration: none;
  color: $pinkColor;
}

.linkNoUnderline a:hover {
  text-decoration: none;
  color: $yellowColor;
}

.linkNoUnderline a:visited {
  text-decoration: none;
  color: $purpleColor;
}

.plainLink {
  text-decoration: none;
  color: inherit;
}

//Shadow Containers
//Explanation of why we are using this type of box shadow - adapted this for use across site.
//https://tobiasahlin.com/blog/how-to-animate-box-shadow/
.shadow-box {
  position: relative;
  width: inherit;
  height: inherit;
  background-color: none;
  @include rainbow-shadow(1px, 1px, 2px);
  border-radius: 20px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-box::after {
  content: "";
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include rainbow-shadow(5px, 5px, 15px);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.shadow-box:hover {
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
}

.shadow-box:hover::after {
  opacity: 1;
}

//in case user does not want to see animations for some reason
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
